### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## Player Count

In [43]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df  = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

* Display the total number of players

In [44]:
#Calculate Total Players
total_players = len(purchase_data_df["SN"].value_counts())

#Format into a DataFrame
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [93]:
#Starting Calculations
unique_items = len(purchase_data_df["Item ID"].value_counts())
average_item_price = purchase_data_df["Price"].mean()
unique_purchases = len(purchase_data_df["Purchase ID"].value_counts())
total_purchase = purchase_data_df["Price"].sum()

#Format into a DataFrame
summary_df = pd.DataFrame({
                            "Number of Unique Items": [unique_items], 
                            "Average Price": [average_item_price], 
                            "Number of Purchases": [unique_purchases],
                            "Total Revenue": [total_purchase]
                        })
summary_df.head()

#Correcting Format
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [78]:

# GroupBy
gender_total = purchase_data_df.groupby("Gender")

# Count Gender Data Set
gender_count = gender_total.nunique()["SN"]
gender_percentage = total_count_gender / total_players * 100

#Input into DataFrame
gender_demographics = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": gender_percentage})

# Format Header without Index 
gender_demographics.index.name = None

# Correcting Format
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [104]:
#Calculations
purchase_count = gender_total["Purchase ID"].count()
avg_price = gender_total["Price"].mean()
avg_total = gender_total["Price"].sum()
avg_per_person = avg_total / gender_count

#Format into a DataFrame
purchasing_analysis = pd.DataFrame({
                                    "Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_price, 
                                    "Total Purchase Value": avg_total,
                                    "Avg Total Purchase per Person": avg_per_person
                                    })
purchasing_analysis.head()

#Setting Format 
purchasing_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                          "Total Purchase Value":"${:,.2f}",
                          "Avg Total Purchase per Person":"${:,.2f}"
                        })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [116]:
#Create bins
age_bins = [0, 9.9, 13.9, 18.9, 23.9, 28.9, 33.9, 39.9, 100]
age_groups = ["<10","10-14", "15-19","20-24",
            "25-29","30-34","35-39","40+"]

#Defining GroupBy
purchase_data_df["Age Groups"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_groups, include_lowest=True)
purchase_data_df
age_group_df = purchase_data_df.groupby("Age Groups")

#Calculations
total_count_age = age_group_df["SN"].nunique()
percentage_by_age = (total_count_age/total_players) * 100

#Formating into DataFrame
age_demographics = pd.DataFrame({"Total Count": total_count_age,
                                 "Percentage of Players": percentage_by_age
                                })

#Cleaning Header 
age_demographics.index.name = None

#Formatting for two decimal places
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [120]:
purchase_count = age_group_df["Purchase ID"].count()
avg_price_age = age_group_df["Price"].mean()
avg_total_age = age_group_df["Price"].sum()
avg_per_age = avg_total_age / total_count_age

purchase_analysis = pd.DataFrame({
                                  "Purchase Count": purchase_count, 
                                  "Average Purchase Price": avg_price_age, 
                                  "Total Purchase Value": avg_total_age,
                                  "Avg Total Purchase per Person": avg_per_age
                                })
purchase_analysis

purchase_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"
                                })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame