# Trend Analysis
* 1. Out of the 576 players, males made up the majority of the total number of players with 84.03% and accounted for over 652 purchases. 
* 2. For age demographics, the 20-24 age range composed an overwhelming majority with 39.41% with the second largest group being 25-29 with 19.97%.
* 3. The age group >10 spent the most on in-game purchases per person with a total of 4.54 dollars per individual. However, due to the very small population of 22 individuals this data is skewed in their favor. The 20-24 age group spent less with an average of 4.29 dollars per person but with the highest total of in game purchases with 321 total purchases. 
## Recommended Target Demographic: Males between the ages of 20-24

## Player Count

In [37]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df  = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

* Display the total number of players

In [38]:
#Calculate Total Players
total_players = len(purchase_data_df["SN"].value_counts())

#Format into a DataFrame
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
#Starting Calculations
unique_items = len(purchase_data_df["Item ID"].value_counts())
average_item_price = purchase_data_df["Price"].mean()
unique_purchases = len(purchase_data_df["Purchase ID"].value_counts())
total_purchase = purchase_data_df["Price"].sum()

#Format into a DataFrame
summary_df = pd.DataFrame({
                            "Number of Unique Items": [unique_items], 
                            "Average Price": [average_item_price], 
                            "Number of Purchases": [unique_purchases],
                            "Total Revenue": [total_purchase]
                        })
summary_df.head()

#Correcting Format
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [40]:

# GroupBy
gender_total = purchase_data_df.groupby("Gender")

# Count Gender Data Set
gender_count = gender_total.nunique()["SN"]
gender_percentage = gender_count / total_players * 100

#Input into DataFrame
gender_demographics = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": gender_percentage})

# Format Header without Index 
gender_demographics.index.name = None

# Correcting Format
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [41]:
#Calculations
purchase_count = gender_total["Purchase ID"].count()
avg_price = gender_total["Price"].mean()
avg_total = gender_total["Price"].sum()
avg_per_person = avg_total / gender_count

#Format into a DataFrame
purchasing_analysis = pd.DataFrame({
                                    "Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_price, 
                                    "Total Purchase Value": avg_total,
                                    "Avg Total Purchase per Person": avg_per_person
                                    })
purchasing_analysis.head()

#Setting Format 
purchasing_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                          "Total Purchase Value":"${:,.2f}",
                          "Avg Total Purchase per Person":"${:,.2f}"
                        })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [42]:
#Create bins
age_bins = [0, 9.9, 13.9, 18.9, 23.9, 28.9, 33.9, 39.9, 100]
age_groups = ["<10","10-14", "15-19","20-24",
            "25-29","30-34","35-39","40+"]

#Defining GroupBy
purchase_data_df["Age Groups"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_groups, include_lowest=True)
purchase_data_df
age_group_df = purchase_data_df.groupby("Age Groups")

#Calculations
total_count_age = age_group_df["SN"].nunique()
percentage_by_age = (total_count_age/total_players) * 100

#Formating into DataFrame
age_demographics = pd.DataFrame({"Total Count": total_count_age,
                                 "Percentage of Players": percentage_by_age
                                })

#Cleaning Header 
age_demographics.index.name = None

#Formatting for two decimal places
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
#Run Calculations
purchase_count = age_group_df["Purchase ID"].count()
avg_price_age = age_group_df["Price"].mean()
avg_total_age = age_group_df["Price"].sum()
avg_per_age = avg_total_age / total_count_age

#Set DataFrame
purchase_analysis = pd.DataFrame({
                                  "Purchase Count": purchase_count, 
                                  "Average Purchase Price": avg_price_age, 
                                  "Total Purchase Value": avg_total_age,
                                  "Avg Total Purchase per Person": avg_per_age
                                })
purchase_analysis

#Set Format
purchase_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"
                                })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
#Set Groupby
spender_stats = purchase_data_df.groupby("SN")

#Run Calculations
purchase_count_spender = spender_stats["Purchase ID"].count()
avg_purchase_price_spender = spender_stats["Price"].mean()
purchase_total_spender = spender_stats["Price"].sum()

#Set DataFrame
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

#Set Limits and Descending Order
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head(10)

#Set Format
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
#Set Groupby and Variable
items = purchase_data_df[["Item ID", "Item Name", "Price"]]
item_stats = items.groupby(["Item ID","Item Name"])

#Run Calculations
purchase_count_item = item_stats["Price"].count()
purchase_value = (item_stats["Price"].sum()) 
item_price = purchase_value/purchase_count_item

#Set DataFrame
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

#Set Limits and Descending Order
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head(10)

#Set Format
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [46]:
#Set DataFrame
most_profitable_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

#Set Limits and Descending Order
profitable_formatted = most_profitable_items.sort_values(["Total Purchase Value"], ascending=False).head(10)

#Set Format
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})